/*Fonts & Icons*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?tx6iqa');
	src:url('../fonts/icomoon.eot?#iefixtx6iqa') format('embedded-opentype'),
		url('../fonts/icomoon.woff?tx6iqa') format('woff'),
		url('../fonts/icomoon.ttf?tx6iqa') format('truetype'),
		url('../fonts/icomoon.svg?tx6iqa#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rocket:before {
	content: "\f033";
	color: crimson;
}

.icon-html5:before {
	content: "\eadf";
	color: coral;
}
.icon-quill:before {
	content: "\e907";
	color: deeppink;
}
.icon-enlarge:before {
	content: "\e989";
	color: #32c772;
}
.icon-paint-format:before{
	content: "\e90c";
	color: #34c772;
}

.icon-facebook2:before {
	content: "\ea8d";
	font-size: 1.5em;
	color: #0080ff;
}
.icon-twitter2:before {
	content: "\ea92";
	font-size: 1.5em;
	color: #66ccff;
}

.icon-github2:before {
	content: "\eab2";
	font-size: 1.5em;
	color: #e6e6e6;
}
.icon-menu2:after {
	color: #0f7cfb;
	content: "\e9be";
}
.icon-circle-up:before {
	content: "\ea41";
}

.icon-instagram:before {
	content: "\ea90";
	color: #e75c3e;
	font-size: 1.5em;
}
.icon-iphone:before {
	content: "\e601";
	margin-right: 1em;
}
.icon-phone:before {
	content: "\e942";
	margin-right: .6em;
}
.icon-mail3:before {
	content: "\ea85";
	margin-right: .8em;
}
.icon-enlarge:before {
	content: "\e989";
}
/*SlidersResponsive*/
	/*-------------SlidersResponsive-----------------*/
	.rslides {
		  position: relative;
		  list-style: none;
		  overflow: hidden;
		  width: 100%;
		  padding: 0;
		  margin: 0;
		  z-index: 0;

	  }

	.rslides li {
		  -webkit-backface-visibility: hidden;
		  position: absolute;
		  display: none;
		  width: 100%;
		  left: 0;
		  top: 0;
		  margin: 0;
	  }

	.rslides li:first-child {
		  position: relative;
		  display: block;
		  float: left;
	  }

	.rslides img {
		  display: block;
		  height: auto;
		  float: left;
		  width: 100%;
		  border: 0;
	  }

	  /*------------------ Slide Show 3 ----------*/

	#slider3-pager{
		list-style-type: none;
		padding: 0;
		margin-top: 1em;
	}
	#slider3-pager li{
		display: inline-block;
	}
	#slider3 {
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		margin: 0 auto;
	}
/*Aqui esta el estilo prediseñado para mostrar un loading antes de la carga :)*/
.loading {
	background: url(https://raw.githubusercontent.com/mvinan/webpersonal/gh-pages/Images/ico_loading.gif);
	background-repeat: no-repeat;
	background-position:center;
	background-attachment: fixed;
	background-color: black;
	background-size: 125px 91px; 
}
body{
	background: #3C3B3B;
}
section, header, footer{
	opacity: 0;
	-webkit-transition:opacity .8s;
	-moz-transition:opacity .8s;
	-o-transition:opacity .8s;
	transition: opacity .8s;
}
.loaded section,.loaded header,.loaded footer{
	opacity: 1;
}

/*Header*/
.Header{
	background: rgba(0,0,0,0.9);
	border-bottom: .3em solid #313131;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}
.Header-btMenu{
	font-size: 1.7em;
	position: absolute;
	right: .5em;
	text-decoration: none;
	top: .5em;
}
.Header-imageContainer{
	margin: 0;
}
.Header-logo{
	margin: .4em 0 0 .5em;
	width: 3em;
}
.Header-nav{
	position: relative;
	text-align: center;
	display: none;
}
.Header-list{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.Header-item{
	list-style-type: none;
	border-bottom: 1px solid #d4d4d4;
	margin: 0 1.5em;
	padding: .3em 0;
}
.Header-item:last-child{
	border-bottom: none;
	padding: 0;
}
.Header-item:last-child a{
	/*border: 2px solid red;*/
	border-radius: 10px;
	background-color: #0f7cfb;
	color: white;
	margin:.7em 0;
	transition:.3s;

}
.Header-item:last-child a:hover{
	background: #1bc676;

}
.Header-link{
	color:#1cd27e;
	display: block;
	font-weight: normal;
	padding: 1em;
	text-decoration: none;

}
.Header-link:hover{
	background: #1cd27e;
	color: white;
	border-radius: 10px;
}

/*Home*/
.Home-circle{
	display: none;
}
.Home{
	margin: 0;
}
.Home-sectionContainer{
	background-image: url(https://raw.githubusercontent.com/mvinan/webpersonal/gh-pages/Images/backgroundResponsive.jpg);
	background-repeat: no-repeat;
/*	background-size: auto 100%;*/
	background-size: cover;
	background-position: center;
	overflow: hidden;
	margin:0;
	padding: 9em 0 21.9em 0;
	text-align: center;
}
.Home-imageContainer{
	margin:0;
}
.Home-logo{
	width: 30%;
}
.Home-subtitle,
.Home-name{
	margin: 0;
	line-height: 1.2;
	font-family: 'Raleway', sans-serif;
}
.Home-boxName{
	margin:2em auto 0;
	padding: .5em 0;
	border: 1px solid white;
	width: 300px;
}
.Home-name{
	font-size: 2em;
	font-weight: 600;
	color: white;
	letter-spacing: 3px;
}
.Home-subtitle{
	font-size: .7em;
	font-weight: bold;
	color: lightgray;
	letter-spacing: 3px;
}
.Home-boxLink{
	display: none;
}
/*Perfil*/

.Profile-boxTitle{
	position: relative;
	background: #101010;
}
.Profile-title,
.Porfile-subtitle{
	line-height: .5;
}

.Profile-title{
	background: #262626;
	color: #0f7cfb;
	font-size: 2.7em;
	font-family: 'Oswald', sans-serif;
	margin:0 auto;
	text-align: center;
	padding: 0.9em .7em;
	width: 120px;
}
.Profile-subtitle{
	font-size: 16px;
	font-family: Raleway;
	color: white;
	font-weight: normal;
}

.Profile-list{
	list-style: none;
	text-align: center;
	padding: .5em 0;
	position: relative;
	margin-top: 2em;
}
.Profile-item{
	display: inline-block;
}
.Profile-link{
	padding:0;
	margin: .1em;
	font-size: 2.5em;
 	text-decoration: none;
 	border-radius: 20px;
 	-webkit-transition: .5s;
 	-o-transition: .5s;
 	transition: .2s;
}

.Profile-link:hover{
}
.Profile-link:active{

}
.Profile-contact{
	text-align: center;
	margin:0;
	box-shadow: 2px 2px 2px black;
}
.Profile-contactLink{
	font-family: Raleway;
	font-weight: bolder;
	background: #0f7cfb;
	color: white;
	text-decoration: none;
	padding: 1em 0;
	display: block;
	border-bottom: 2px solid #2344bd;
}
.Profile-boxProfile{
	text-align: center;
	background: #212121;

}
.Profile-imageContainer{
	margin: 0;
	padding: 2em 1.5em;
}
.Profile-avatar{
	width: 230px;
	border-radius: 50%;
	opacity: 0;
}
.Profile-imageDescription{
	margin-top: 1em;
}
.Profile-linkDescription{
	text-decoration: none;
	padding: .5em 2em;
	background: #1bc676;
	color: white;
	border-radius: 10px;
	border-bottom: 4px solid #159a59;
	opacity: 0;
}

.Profile-mision{
	font: lighter 1.2em 'Raleway', sans-serif;
	line-height: 1.3em;
	text-align: left;
	background: #393939;
	padding: 1.6em;
	color: white;
	margin: 0 auto;
	width: 250px;
	opacity: 0;
}

/*Work*/
.Work-boxTitle{
	position: relative;
	background: #101010;
	margin-bottom: 1em;
}
.Work-title,
.Work-subtitle{
	line-height: .5;
}

.Work-title{
	background: #262626;
	color: #0f7cfb;
	font-size: 2.7em;
	font-family: 'Oswald', sans-serif;
	margin:0 auto;
	text-align: center;
	padding: 0.9em .7em;
	width: 120px;
}
.Work-subtitle{
	font-size: 16px;
	font-family: Raleway;
	color: white;
	font-weight: normal;
}
.Work-description{
	display: none;
}
.Work-boxRslides{
	margin-top: 2em;
}
#slider3-pager{
	text-align: center;
}

#slider3-pager li{
	position: relative;
	width: 70px;
}
#slider3-pager li a img{
	width: 100%;
}
/*Habilidades*/
.Skills-boxTitle{
	position: relative;
	background: #101010;
	text-align: center;
}
.Skills-title,
.Skills-subtitle{
	line-height: .5;
}

.Skills-title{
	background: #262626;
	color: #0f7cfb;
	font-size: 2.7em;
	font-family: 'Oswald', sans-serif;
	margin:0 auto;
	padding: .8em 0;
	width: 260px;
}
.Skills-subtitle{
	font-size: 16px;
	font-family: Raleway;
	color: white;
	font-weight: normal;
}
.Skills-description{
	display: none;
}
.Skills-boxObjective{
	text-align: center;
}
.Skills-objective{
	margin: 0 auto 0;
	padding: 2em 1.8em;
	color: white;
	width: 77%;
	opacity: 0;
	background: #212121;
	border-radius: 30px 30px 0 0;
}
.Skills-icon{
	opacity: 0;
	display: block;
	font-size: 1.5em;
	background: #161616;
	border-radius: 20px;
	padding: 1em;
	margin: 2em 1em 2em;
	text-align:center;
}
.Skills-icon:before{
	position: relative;
	top: -10px;
	font-size: 2em;
}
.spanSkills{
	color: #c7cdc7;
	font-family: Oswald;
}
.Skills-icon:last-child{
	padding: 0;
}

/*Contact*/
.Contact{
	text-align: center;
	padding-bottom: 1em;
	margin-bottom: 0;
}
.Contact-boxTitle{
	position: relative;
	background: #101010;
	text-align: center;
}
.Contact-title,
.Contact-subtitle{
	line-height: .5;
}

.Contact-title{
	background: #262626;
	color: #0f7cfb;
	font-size: 2.7em;
	font-family: 'Oswald', sans-serif;
	margin:0 auto;
	padding: .8em 0;
	width: 200px;
	opacity: 0;
}
.Contact-subtitle{
	font-size: 16px;
	font-family: Raleway;
	color: white;
	font-weight: normal;
}
.Contact-logo{
	margin: 1em 0 1em;
	width:60%;
}
.Contact-imageContainer{
	text-align: center;
}
.Contact-mediante{
	color: white;
}
.Contact-mail{
	color: #00FFB2;
	display: block;
	padding: 1em;
	/* border: 1px solid white; */
	border-radius: 9px;
	background: #337584;
	font-family: 'Raleway';
}
.Contact-parrafo{
	color: white;
	padding: 1em 2em;
	opacity: 0;
}
.Hola-gratis{
	display: none;
}

/*Footer*/

.Footer{
	background: #195097;
	margin: 0;
	text-align: center;
	padding: 1em;
}
.Footer-title{
	margin: 0;
	padding: 1em .5em 0;
	color: white;
	font-family: "Raleway";
}
.Footer-line{
	color: white;
	margin: 0;
	line-height: .5;
}
.Footer-MiguelVinan{
	color: white;
	text-decoration: none;
	display: block;
	padding-bottom: 1em;
}
.Footer-up{
	background: black;
	text-decoration: none;
	color: #f59e9b;
	left: 0;
	right: 0;
	bottom: -32px;
	position: relative;
	padding: .5em;
	display: block;
}
.Footer-callMeMail,
.Footer-callMePhone,
.Footer-callMe{
	text-decoration: none;
	color: black;
	display: block;
	text-align: left;
	position: relative;
	left: 0;
	margin: 0 auto;
	width: 150px;
	margin-bottom: .4em;
}
.Footer-box p{
	color: white;
}

/*Extras*/
.Profile-spanGithub,
.Profile-spanInstagram{
	opacity:0;
	font-size: .6em;
	font-family: raleway;
	text-decoration: none;
	color: #FFFFFF;
	top:-150px;
	position: absolute;
	left: -96px;
	padding: .4em .9em;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.Profile-spanFacebook,
.Profile-spanTwitter{
	opacity:0;
	font-size: .6em;
	font-family: raleway;
	text-decoration: none;
	color: #FFFFFF;
	top:-150px;
	position: absolute;
	left: 0px;
	padding: .4em .9em;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.Skills-images{
display: block;
width: 100%;
}
.Contact-subtitle:after,
.Skills-subtitle:after,
.Work-subtitle:after,
.Profile-subtitle:after{
	content: '';
	position: absolute;
	bottom: -19px;
	left: 46%;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid rgb(38, 38, 38);
}

@media screen and (min-width: 750px ) {
	.Header{
		background:rgba(220,228,221,0.30);
		border-bottom: none;
	}
	.Work-description,
	.Skills-description{
		opacity: 0;
	}
	.Header-item:nth-child(1),
	.Header-item:nth-child(2),
	.Header-item:nth-child(3),
	.Header-item:nth-child(4){
		opacity: 0;
	}
	.Header-btMenu{
		display: none;
	}
	.Header-imageContainer{
		display: inline-block;
	}
	.Header-nav{
		display: inline-block;
		position: absolute;
		right: 0;
	}
	.Header-item{
		display: inline-block;
		margin: 0;
		padding: 0;
		border-bottom: none;
	}
	.Header-logo{
		margin: .2em 0 0 1em;
		width: 4em;
	}
	.u-penultimoItem{
		padding: 0 1em 0 0;
	}
	.Header-item:last-child{
		margin: 0 1em 0 3em;
	}
	.Header-item:last-child a{
		padding: 1em 2.5em;		
	}
	.Header-link{
		padding: 1em .7em;
		transition:.4s;
	}
	.Home-boxLink{
		display: block;
		position: relative;
		margin-top: 25em;
	}
	.Home-link{
		border: none;
		border-radius: 20px;
		font-family: inherit;
		font-size: inherit;
		text-decoration: none;
		color: white;
		background: #4385e2;
		padding: 25px 80px;
		display: inline-block;
		margin: 15px 30px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		outline: none;
		position: relative;
		box-shadow: 0 4px #3063a8;
		-webkit-transition: all 0.1s;
		-moz-transition: all 0.1s;
		transition: all 0.1s;
		opacity: 0;
	}
	.Home-link:hover{
		box-shadow: 0 6px #3063a8;
		top: -4px;
	}
	.Home-link:active {
		box-shadow: 0 0 #3063a8;
		top: 6px;
	}
	/*Profile*/
	.Profile{
		position: relative;
	}
	.Profile-contact{
		display: none;
	}
	.Profile-boxTitle{
		padding-bottom: 0;
	}
	.Profile-title{
		margin: 0 0 0 70%;
		font-size: 4em;
		padding: 1em 1em 1em .3em;
	}
	.Profile-subtitle{
		position: absolute;
		top: 118px;
	}
	.Profile-list{
		position: absolute;
		float: left;
		top: 5px;
		left: 5%;
		font-size: 2em;
		margin-top: .5em;
	}
	.Profile-link{
		background: none;
		opacity: 0;
		font-size: 2em;

	}
	.Profile-imageContainer{
		display: inline-block;
	}
	.Profile-boxProfile{
		padding: 3em 0;
	}
	.Profile-avatar{
		width: 225px;
	}
	.Profile-linkDescription{
		font-size: 1.5em;
	}
	.Profile-mision{
		margin: 3.9em auto;
		width: 300px ;
		border-radius: 10px;
		font-size: 1.5em;
		display:inline-block;
		vertical-align: top;
	}
	/*Work*/

	.Work-title{
		position: relative;
		font-size: 4em;
		padding: 1em 1em 1.5em .5em;
		margin-right: 70%;
	}
	.Work-subtitle{
		position: absolute;
		top: 122px;
		left: 5px;
	}
	.Work-description{
		display: inline-block;
		color: white;
		position: absolute;
		top: 15%;
		right: 2%;
		max-width: 60%;
		font-size: 1.5em;
	}
	/*Skills*/
	.Skills-title{
		position: relative;
		font-size: 4em;
		padding: 1em 2em 1.5em .5em;
		margin-right: 5%;
	}
	.Skills-subtitle{
		position: absolute;
		top: 122px;
		left: 35px;
	}
	.Skills-description{
		color: white;
		position: absolute;
		top: 2em;
		left: 5%;
		max-width: 30%;
		font-size: 1.5em;
		display: block;
	}
	.icon-display:before{
		display: none;
	}
	.Skills-objective{
		text-align: center;
		font-size: 1.5em;
	}
	/*Di, HOla (Contact)*/
	.Contact{
		background-image: url(https://raw.githubusercontent.com/mvinan/webpersonal/gh-pages/Images/contact.jpg);
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
	}
	.Contact-logo{
		margin: 4em 2em 1em 0;
		width: 40%;
		display: inline-block;
	}
	.Contact-title{
		position: relative;
		font-size: 4em;
		padding: 1em 2em 1.5em .5em;
		margin-right: 5%;
	}
	.Contact-subtitle{
		position: absolute;
		top: 122px;
		left: 35px;
	}
	.Contact-mediante{
		font-size: 1.5em;
		width: 40%;
		margin: 3em auto;
		display: inline-block;
		vertical-align: top;
	}
	.Contact-mail{
		max-width: 50%;
		margin: 2em auto;
		font-size: 2em;
		border-radius: 32px;
	}
	.Contact-parrafo{
		font-size: 1.5em;
		max-width: 80%;
		margin: 2em auto;
		text-transform: uppercase;
	}
	.Footer-up{
		font-size: 2em;
		padding: .5em;
	}
	/*Extras*/
	.Skills-boxObjective{
		text-align: center;
	}
	.Skills-icon{
		font-size: 3em;
		position: relative;
		width: 550px;
		margin: 1em auto;
		text-align: center;
		padding: 0 0 .5em;
		line-height: 2;
	}
	.Skills-icon:before{
		display: none;
	}
	.Skills-images{
	display: block;
	width: 100%;
	}
	.Profile-subtitle:after{
		bottom: -64px;
		left: -5%;
		border-left: 30px solid transparent;
		border-right:30px solid transparent;
		border-top: 30px solid rgb(38,38,38);
	}
	.Contact-subtitle:after,
	.Skills-subtitle:after,
	.Work-subtitle:after{
		bottom: -92px;
		left: 39%;
		border-left: 30px solid transparent;
		border-right:30px solid transparent;
		border-top: 30px solid rgb(38,38,38);
	}


}
@media screen and (min-width: 1000px) {

	.Header{
		background: none;
		border-bottom: none;
		position: absolute;
	}
	.Header-logo{
		display:none;
	}
	.u-penultimoItem {
		border-right: none;
	}

	.Home-sectionContainer{
		background-attachment: fixed;
	}
	.Header-list{
		overflow: visible;
	}
	.Header-link{
		color: white;
		font-size: .8em;
		transition:.4s;
	}
	.Header-item:first-child{
		display:none;
	}
	.Header-link:hover{
		transform:scale(1.5);
		-webkit-transform:scale(1.5);
		-ms-transform:scale(1.5);
	}
	.Header-item:last-child a{
		margin: 0 2em 0 0 ;
		border-radius: 0 0 10px 10px;
	}

	/*animaciones con opacity del Header*/
	.Header-item:nth-child(2),
	.Header-item:nth-child(3),
	.Header-item:nth-child(4){
		opacity: 0;
	}

	/*Empieza el Home*/
	.Home-logo,
	.Home-boxName{
		opacity: 0;
	}
	.Home-circle{
		position: fixed;
		bottom: 14px;
		right: 37px;
		font-size: 3em;
		color: rgba(1, 205, 177, 1);
		background: rgba(7, 14, 23, 0.44);
		border-radius: 50%;
		z-index: 2;
		text-decoration: none;
		display: block;
	}
	/*empieza el Profile*/
	.Profile-link{
		opacity: 0;
		position: absolute;
		top: 0;
	}
	.icon-facebook2{
		top:0;
		left:0px;
	}
	.icon-facebook2:hover{
		top: -10px;
		color: rgb(42, 72, 150);
	}
	.icon-twitter2{
		top: 0;
		left: 175px;
	}
	.icon-twitter2:hover{
		top: -10px;
		color: rgb(42, 72, 150);
	}
	.icon-instagram{
		top: 0;
		left: 350px;
	}
	.icon-instagram:hover{
		top: -10px;
		color: rgb(42, 72, 150);
	}
	.icon-github2{
		top: 0;
		left: 530px;
	}
	.icon-github2:hover{
		top: -10px;
		color: rgb(42, 72, 150);
	}

	.Profile-mision{
		position: absolute;
		right: 0;
		border-radius: 30px 0 0 30px;
		width: 500px;
	}
	.Profile-boxProfile{
		height: 400px;
	}
	.Profile-imageContainer{
		position: absolute;
		left: 20%;
	}
	.Profile-linkDescription:hover{
		position: relative;
		top: -7px;
		background: #1B92C6;
		border-bottom: 7px solid #0E4998;
	}
	.Profile-linkDescription:active{
		top: 0px;
		background: #1B92C6;
		border-bottom: 0px solid #0E4998;
	}
	/*Work*/
	.Work-boxRslides{
		margin-top: 4em;
	}

	/*skills*/

	.icon-display:before{
		display: inline-block;
	}
	.Skills-icon{
		opacity: 0;
		margin: .5em;
		display: inline-block;
		font-size: 2em;
		width: 400px;
	}
	.Skills-icon:hover .spanSkillsBarA{
		opacity: 1;
		width: 336px;
	}
	.Skills-icon:hover .spanSkillsBarB{
		opacity: 1;
		width: 70%;
	}
	.Skills-icon:hover .spanSkillsBarC{
		opacity: 1;
		width: 60%;
	}
	.Skills-icon:hover .spanSkillsBarD{
		opacity: 1;
		width: 150px;
	}
	.Skills-icon:hover .spanSkillsText{
		opacity: 0;
	}
	.Skills-icon:hover .ImgD:after,
	.Skills-icon:hover .ImgC:after,
	.Skills-icon:hover .ImgB:after,
	.Skills-icon:hover .ImgA:after{
		opacity: 1;
	}
	.ImgA:after{
		content: 'Nivel 4/4';
		color: white;
		font-family: OSwald;
		position: absolute;
		opacity: 0;
		width: 150px;
		top: .5em;
	}
	.ImgB:after{
		content: 'Nivel 3/4';
		font-family: Oswald;
		position: absolute;
		opacity: 0;
		width: 150px;
		top: .5em;
	}
	.ImgC:after{
		content: 'Nivel 3/4';
		font-family: Oswald;
		position: absolute;
		opacity: 0;
		width: 150px;
		top: .5em;
	}
	.ImgD:after{
		content: 'Nivel 2/4';
		font-family: Oswald;
		position: absolute;
		opacity: 0;
		width: 150px;
		top: .5em;
		left: 62px;
	}
	.spanSkillsBarA{
		background: rgb(0, 205, 153);
		padding: 1em;
		position: absolute;
		height: 34px;
		bottom: 0;
		left: 0;
		border-radius: 0 0 20px 20px;
		width: 0%;
		transition: all .5s ease-in-out;
		opacity: 0;
	}
	.spanSkillsBarB{
		background: rgb(216, 64, 116);
		padding: 1em;
		position: absolute;
		height: 34px;
		bottom: 0;
		left: 0;
		border-radius: 0 0 20px 20px;
		width: 0%;
		transition: all .5s ease-in-out;
		opacity: 0;
	}
	.spanSkillsBarC{
		background: rgb(215, 57, 51);
		padding: 1em;
		position: absolute;
		height: 34px;
		bottom: 0;
		left: 0;
		border-radius: 0 0 20px 20px;
		width: 0%;
		transition: all .5s ease-in-out;
		opacity: 0;
	}
	.spanSkillsBarD{
		background: rgb(215, 97, 51);
		padding: 1em;
		position: absolute;
		height: 34px;
		bottom: 0;
		left: 0;
		border-radius: 0 0 20px 20px;
		width: 0%;
		transition: all .5s ease-in-out;
		opacity: 0;
	}
	.Skills-boxObjective{
		margin-top: 2em;
		padding: 0 7%;
	}

	/*Contact*/

	.Contact{
		position: relative;
	}
	.Contact-mediante{
		position: absolute;
		left: 15%;
		top: 0;
	}
	.Hola-gratis{
		display: block;
		position: absolute;
		color: whitesmoke;
		background: crimson;
		padding: 0.7em;
		font-size: 3em;
		border-radius: 90px 0 0 90px;
		top: 190px;
		right: 0;
		opacity: 0;
	}
	/*Extras*/
	.icon-github2:hover .Profile-spanGithub,
	.icon-instagram:hover .Profile-spanInstagram{
		position: absolute;
		display: block;
		top: -110px;
		left: -97px;
		background: rgba(0, 127, 254, .5);
		border-radius: 20px;
		opacity: .9;
		border-bottom: 4px solid rgb(160, 202, 244);
	}
	.icon-twitter2:hover .Profile-spanTwitter,
	.icon-facebook2:hover .Profile-spanFacebook{
		position: absolute;
		display: block;
		top: -110px;
		background: rgba(0, 127, 254, .5);
		border-radius: 20px;
		opacity: .9;
		border-bottom: 4px solid rgb(160, 202, 244);
	}
	.icon-twitter2:hover .Profile-spanTwitter{
		background:rgba(101,203,254,0.5);
	}
	.icon-instagram:hover .Profile-spanInstagram{
		background:rgba(217, 92, 66, 0.74);
	}
	.icon-github2:hover .Profile-spanGithub{
		background:rgba(0,0,0,0.5);
	}
	.Profile-spanGithub:after,
	.Profile-spanInstagram:after{
		content: '';
		position: absolute;
		bottom: -10px;
		left: 160px;
		margin-left: -9px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid rgb(160, 202, 244);
	}
	.Profile-spanTwitter:after,
	.Profile-spanFacebook:after{
		content: '';
		position: absolute;
		bottom: -10px;
		left: 59px;
		margin-left: -9px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid rgb(160, 202, 244);
	}
	.Skills-images{
		display: inline-block;
		width: 400px;
	}
	/*Footer*/
	.Footer-up{
		display:none;}
}