/*Fonts & Icons*/
	@font-face {
		font-family: 'icomoon';
		src:url('../fonts/icomoon.eot?1730e6');
		src:url('../fonts/icomoon.eot?#iefix1730e6') format('embedded-opentype'),
			url('../fonts/icomoon.woff?1730e6') format('woff'),
			url('../fonts/icomoon.ttf?1730e6') format('truetype'),
			url('../fonts/icomoon.svg?1730e6#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	[class^="icon-"], [class*=" icon-"] {
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.icon-paint-brush:before {
		content: "\e600";
	}

	.icon-quill:before {
		content: "\e907";
	}

	.icon-display:before {
		content: "\e956";
	}

	.icon-mobile:before {
		content: "\e958";
	}

	.icon-tablet:before {
		content: "\e95a";
	}

	.icon-menu2:after {
		color: #0f7cfb;
		content: "\e9be";
	}

	.icon-circle-up:before {
		content: "\ea41";
	}

	.icon-embed2:before {
		content: "\ea80";
	}

	.icon-facebook3:before {
		content: "\ea8e";
	}

	.icon-instagram:before {
		content: "\ea90";
	}

	.icon-twitter3:before {
		content: "\ea93";
	}

	.icon-github:before {
		content: "\eab1";
	}

/*SlidersResponsive*/
	/*-------------SlidersResponsive-----------------*/
	.rslides {
		  position: relative;
		  list-style: none;
		  overflow: hidden;
		  width: 100%;
		  padding: 0;
		  margin: 0;
		  z-index: 0;

	  }

	.rslides li {
		  -webkit-backface-visibility: hidden;
		  position: absolute;
		  display: none;
		  width: 100%;
		  left: 0;
		  top: 0;
		  margin: 0;
	  }

	.rslides li:first-child {
		  position: relative;
		  display: block;
		  float: left;
	  }

	.rslides img {
		  display: block;
		  height: auto;
		  float: left;
		  width: 100%;
		  border: 0;
	  }

	  /*------------------ Slide Show 3 ----------*/

	#slider3-pager{
		list-style-type: none;
		padding: 0;
		margin-top: 1em;
	}
	#slider3-pager li{
		display: inline-block;
	}
	#slider3 {
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		margin: 0 auto;
	}

body{
	background-color: #eaefe1;
}
/*Header*/
.Header{
	background: rgba(0,0,0,0.9);
	border-bottom: .3em solid #313131;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}
.Header-btMenu{
	font-size: 1.7em;
	position: absolute;
	right: .5em;
	text-decoration: none;
	top: .5em;
}
.Header-imageContainer{
	margin: 0;
}
.Header-logo{
	margin: .4em 0 0 .5em;
	width: 3em;
}
.Header-item{
	list-style-type: none;
}
.Header-nav{
	position: relative;
	text-align: center;
	display: none;
}
.Header-list{
	margin: 0;
	padding: 0;
}
.Header-item{
	border-bottom: 1px solid #d4d4d4;
	margin: 0 1.5em;
}
.Header-item:last-child{
	border-bottom: none;
}
.Header-item:last-child a{
	/*border: 2px solid red;*/
	border-radius: 10px;
	background-color: #0f7cfb;
	color: white;
	margin:.7em 0;
	transition:.3s;
}
.Header-item:last-child a:hover{
	background: #1bc676;
	transform:scale(1.5);
}
.Header-link{
	color:#1cd27e;
	display: block;
	font-weight: normal;
	padding: 1em;
	text-decoration: none;
}
.Header-link:hover{
	background: #1cd27e;
	color: white;
	border-radius: 10px;
}

/*Home*/
.Home{
	margin: 3.9em 0 0 0;
}
.Home-sectionContainer{
	background-image: url(https://raw.githubusercontent.com/mvinan/webpersonal/gh-pages/Images/backgroundResponsive.jpg);
	background-repeat: no-repeat;
/*	background-size: auto 100%;*/
	background-size: cover;
	background-position: center;
	overflow: hidden;
	margin:0;
	padding: 5em 0 21.9em 0;
	text-align: center;
}
.Home-imageContainer{
	margin:0;
}
.Home-logo{
	width: 30%;
}
.Home-subtitle,
.Home-name{
	margin: 0;
	line-height: 1.2;
	font-family: 'Raleway', sans-serif;
}
.Home-boxName{
	margin:2em auto 0;
	padding: .5em 0;
	border: 1px solid white;
	width: 280px;
}
.Home-name{
	font-size: 2em;
	font-weight: 600;
	color: white;
	letter-spacing: 3px;
}
.Home-subtitle{
	font-size: .7em;
	font-weight: bold;
	color: lightgray;
	letter-spacing: 3px;
}
/*Perfil*/

.Profile-boxTitle{
	position: relative;
	background: #101010;
}
.Profile-title,
.Porfile-subtitle{
	line-height: .5;
}

.Profile-title{
	background: #262626;
	color: #0f7cfb;
	font-size: 2.7em;
	font-family: 'Oswald', sans-serif;
	margin:0 auto;
	text-align: center;
	padding: 0.9em .7em;
	width: 120px;
}
.Profile-subtitle{
	font-size: 16px;
	font-family: Raleway;
	color: white;
	font-weight: normal;
}
.Profile-list{
	list-style: none;
	padding: 0;
	text-align: center;
	padding: .5em 0;
}
.Profile-item{
	display: inline-block;
}
.Profile-link{
	padding:0;
	margin: .1em;
	background: white;
	font-size: 3em;
 	text-decoration: none;
	color: #0f7cfb;
	border: 10px solid #58a9f4;
	border-radius: 50%;
}
.Profile-contact{
	text-align: center;
	margin:0;
	box-shadow: 2px 2px 2px black;
}
.Profile-contactLink{
	font-family: Raleway;
	font-weight: bolder;
	background: #0f7cfb;
	color: white;
	text-decoration: none;
	padding: 1em 0;
	display: block;
}
.Profile-contactLink:hover{
	background: #4bbc5a;
}
.Profile-boxProfile{
	text-align: center;
	background: #212121;

}
.Profile-imageContainer{
	margin: 0;
	padding: 2em 1.5em;
}
.Profile-avatar{
	width: 230px;
	border-radius: 50%;
}
.Profile-mision{
	font: lighter 1.2em 'Raleway', sans-serif;
	line-height: 1.3em;
	text-align: left;
	background: #393939;
	padding: 1.6em;
	color: white;
}






/*Contact*/
.Contact-logo{
	width:230px;
}